@model IEnumerable<prjPetAdoption.Models.animalData>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.animalKind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalChip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalHealthy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalDisease_Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalOwner_userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalGetter_userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalAdopted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalAdoptedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.animalNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.animalKind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalChip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalHealthy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalDisease_Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalOwner_userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalGetter_userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalAdopted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalAdoptedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.animalNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.animalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.animalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.animalID })
        </td>
    </tr>
}

</table>
