@model prjPetAdoption.ViewModels.AllAniDataViewModel


<script type="text/javascript">
    function aler() {
        confirm("是否確定要刪除？")
    };
       
</script>

<script type="text/javascript">
   function Delete(id) {
       if (confirm('你確定要刪除嗎 ?')) {
           $.post('<%= Url.Action("DelfollowAniSure","aniData") %>', { id: id },
                    function(data, textStatus) {
                        if (data == "1") {
                            alert('刪除成功!');
                            location.reload(true);
                        }
                        else {
                            alert('Error');
                        }
                    }, "text");
       }
   }
</script> 


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>寵物追蹤清單</h2>
                <hr />
            </div>
        </div>
    </div>
</section>


<table  class="table table-striped table-hover " style="max-width:70%"  align="center">
    <thead>
        <tr>           
            <th class="col-photo">圖片</th>
            <th class="col-goods">名稱</th>
            <th class="col-user ">種類</th>
            <th class="col-user ">品種</th>
            <th class="col-width-5x order-desc">動作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.followAniList)
        {           
            <tr class="row-odd">

                <td><a href="@Url.Action("oneAni", "aniData",new { id = @item.animalID})">
                    <img src="@item.animalPicAddress" style="max-height:150px;max-width:150px" /></a></td>
                <td class="col-goods">
                    <a href="@Url.Action("oneAni", "aniData",new { id = @item.animalID})">@item.animalName</a>
                </td>
                <td class="col-user">
                    <a href="#">@item.animalKind</a>
                </td>
                <td class="col-user">
                    <a href="#">@item.animalType</a>
                </td>
                <td>
                 @using (Html.BeginForm("DelfollowAniSure", "aniData", new { id = @item.followID }, FormMethod.Post, new { onsubmit = "return confirm('是否確認取消追蹤?');" }))
                 {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit">取消追蹤</button>
                 }
                </td>
            </tr>

        }
    </tbody>
</table>






