@model prjPetAdoption.ViewModels.AllAniDataViewModel

@{
    ViewBag.Title = "showForAdopt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>目前愛心送養寵物</h4>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
        </ul>
    }
}



@if (Model.aniDataPicOneList.Count() != 0)
{
    foreach (var item in Model.aniDataPicOneList)
    {
        <div class="col-md-4">
            <span class="grid"><a href="#" /><img src=@Html.DisplayFor(modelItem => item.animalPicAddress) width="250" /></span>
            <h3>動物ID：@Html.DisplayFor(modelItem => item.animalID)</h3>
            <h4>動物名稱</h4>
        </div>
    }
    <br>
    <div class="col-md-12">
        <div class="col-md-4">
            <a href="@Url.Action("index", "animalData")">
               <img src="http://i.imgur.com/z55pzpX.jpg" height="150" width="150" />
                <p>編輯送養資料</p>
                </a>
</div>
        <div class="col-md-4">
            <a href="@Url.Action("Create", "animalDatas")">
                <img src="http://i.imgur.com/z55pzpX.jpg" height="150" width="150" />
    </a>
                <p>我要送養寵物</p>
</div>
    </div>
}
else
{
    <div class="col-md-12">
        <span class="center-block"><img src="http://i.imgur.com/GGDvNPp.jpg" style="max-width:80%" /></span>
        <h2>目前無送養寵物喔～</h2>
    </div>
    <br>

    <div class="col-md-4">
        <a href="@Url.Action("Create", "animalDatas")">
            <span class="grid"><img src="http://i.imgur.com/z55pzpX.jpg" height="150" width="150" /></span>
        </a>
        <p>我要送養寵物</p>
    </div>

}


